#Config File for Athena

F90 = ifort
F77 = ifort
CXX = icpc -gcc-name=gcc32 -no-ipo
CC =  icc -gcc-name=gcc32 -no-ipo

FPPFLAGS = -traditional

SYS_INC_DIRS = /usr/local/include

HDF5 = yes
HDF5_DIR = /usr/local/hdf5-1.6.5/hdf5

BLAS = yes
BLAS_DIR = /usr/local/LAPACK
BLAS_LIBS = blas_LINUX

LAPACK = yes
LAPACK_DIR = /usr/local/LAPACK
LAPACK_LIBS = lapack_LINUX tmglib_LINUX

LIBS = crypt g2c z ifcore ifcoremt ifcore_pic ifport cprts cxa cxaguard guide imf irc irc_pic irc_s irc_s_pic ompstub svml unwind m ampe lmpe mpe mpe_nompi mpich pmpich pmpich++ tmpe stdc++ supc++ frtbegin gcc gcc_eh

LIBDIRS = /lib /usr/X11R6/lib /usr/local/lib /usr/lib /usr/lib/lam /usr/lib/gcc-lib/i386-redhat-linux/2.96 /usr/lib/gcc-lib/i386-redhat-linux/3.2.3 /usr/lib/gcc-lib/i386-redhat-linux/3.3.4 /opt/mpich-1.2.7p1/lib

FFTW = yes
FFTW_DIR = /usr/local

MPI = MPICH     
MPICH_DIR = /opt/mpich-1.2.7p1
MPICH_LIB_DIR = /opt/mpich-1.2.7p1/lib
MPICH_INC_DIR = /opt/mpich-1.2.7p1/include

F77FLAGS = -i-static -pg -w95 -no-ipo  
F90FLAGS = -i-static -pg -w95 -no-ipo 

CFLAGS = -i-static -cxxlib-icc 
CXXFLAGS = -i-static -cxxlib-icc 

LDFLAGS=-lutil

OPTIMISE = yes

C_OPTIMISE_FLAGS = -axK -mcpu=pentiumpro -mtune=pentiumpro -O3 -ip
CXX_OPTIMISE_FLAGS = -axK -mcpu=pentiumpro -mtune=pentiumpro -O3 -ip 

F77_OPTIMISE_FLAGS = -axK -arch pn3 -O3 -mtune=pentiumpro -tune pn3 -ip
F90_OPTIMISE_FLAGS = -axK -arch pn3 -O3 -mtune=pentiumpro -tune pn3 -ip

WARN = yes
PTHREADS = yes
