#Config File for Atlantis

F90 = mpif90 
F77 = mpif77
CXX = mpicxx  
CC =  mpicc

#FPPFLAGS = -traditional

SYS_INC_DIRS = /opt/openmpi/intel/1.2.7/include /opt/openmpi/intel/1.2.7/include/openmpi/ompi/mpi/cxx

HDF5 = yes
HDF5_DIR = /opt/hdf5-1.6.5

BLAS = yes
BLAS_DIR = /opt/intel/cmkl91/lib/64
BLAS_LIBS = mkl

LAPACK = yes
LAPACK_DIR = /opt/intel/cmkl91/lib/64
LAPACK_LIBS = mkl_lapack

LIBS = pthread crypt z guide imf irc irc_s ompstub unwind m stdc++ supc++ gcc gcc_eh mpi mpi_cxx mpi_f77 mpi_f90 open-rte open-pal

LIBDIRS = /lib /usr/lib /opt/openmpi/intel/1.2.7/lib /opt/openmpi/intel/1.2.7/lib/openmpi 

LD_LIBRARY_PATH=/opt/intel/cmkl91/lib/64:$LD_LIBRARY_PATH

FFTW = yes
FFTW_DIR = /opt/fftw-3.3alpha1 
FFTW_LIBS = fftw3_threads fftw3_mpi $(MPI_LIBS) fftw3 m
# If you need version 2 instead
#FFTW_DIR = /opt/fftw2-2.1.5

# we use openmpi located in /opt/openmpi/intel/1.2.7
MPI = CUSTOM     
MPI_LIBS = mpi mpi_cxx mpi_f77 mpi_f90 open-rte open-pal
MPI_LIB_DIR = /opt/openmpi/intel/1.2.7/lib /opt/openmpi/intel/1.2.7/lib/openmpi
MPI_INC_DIR = /opt/openmpi/intel/1.2.7/include /opt/openmpi/intel/1.2.7/include/openmpi/ompi/mpi/cxx

F77FLAGS = -w95 -no-ipo -no-IPF-fma #-mp1 -fp-model strict   
F90FLAGS = -w95 -no-ipo -no-IPF-fma #-mp1 -fp-model strict 

CFLAGS = -no-ipo #-fp-model strict  
CXXFLAGS = -no-ipo #-fp-model strict

CROSS_COMPILE = yes

#LDFLAGS=-lutil

OPTIMISE = yes 

C_OPTIMISE_FLAGS = -O3 -ip -mtune=itanium2 -ftz
CXX_OPTIMISE_FLAGS = -O3 -ip -mtune=itanium2 -ftz

F77_OPTIMISE_FLAGS = -O3 -ip -mtune=itanium2 -ftz
F90_OPTIMISE_FLAGS = -O3 -ip -mtune=itanium2 -ftz

WARN = yes
PTHREADS = yes
