#Config File for Athena

F90 = ifort
F77 = ifort
CXX = g++ 
CC =  gcc 

FPPFLAGS = -traditional

SYS_INC_DIRS = /usr/local/include

HDF5 = yes
HDF5_DIR = /usr/local/hdf5-1.6.5/hdf5

BLAS = yes
BLAS_DIR = /usr/local/LAPACK
BLAS_LIBS = blas_LINUX

LAPACK = yes
LAPACK_DIR = /usr/local/LAPACK
LAPACK_LIBS = lapack_LINUX tmglib_LINUX

FFTW = yes
FFTW_DIR = /usr/local

MPI = MPICH 
MPICH_DIR = /opt/mpich-1.2.7p1
MPICH_LIB_DIR = /opt/mpich-1.2.7p1/lib
MPICH_INC_DIR = /opt/mpich-1.2.7p1/include

F77FLAGS = -pg -w95 -lm 
F90FLAGS = -pg -w95 -lm 

CFLAGS = -lm
CXXFLAGS = -lm  

OPTIMISE = no 

C_OPTIMISE_FLAGS = -axK -mcpu=pentiumpro -mtune=pentiumpro -O3 -ip
CXX_OPTIMISE_FLAGS = -axK -mcpu=pentiumpro -mtune=pentiumpro -O3 -ip 

F77_OPTIMISE_FLAGS = -axK -arch pn3 -O3 -mtune=pentiumpro -tune pn3 -ip
F90_OPTIMISE_FLAGS = -axK -arch pn3 -O3 -mtune=pentiumpro -tune pn3 -ip

WARN = yes
PTHREADS = yes
