# lonestar

# Whenever this version string changes, the application is configured
# and rebuilt from scratch
VERSION = 2009-07-17

CPP = cpp
FPP = cpp
CC  = /opt/apps/intel/10.1/cc/bin/icc
CXX = /opt/apps/intel/10.1/cc/bin/icpc
F77 = /opt/apps/intel/10.1/fc/bin/ifort
F90 = /opt/apps/intel/10.1/fc/bin/ifort

CPPFLAGS =
FPPFLAGS = -traditional
CFLAGS   = -g -debug all -align -std=gnu99 -ansi_alias
CXXFLAGS = -g -debug all -align -std=c++0x -restrict
F77FLAGS = -g -debug all -align -pad -traceback -w95 -cm
F90FLAGS = -g -debug all -align -pad -traceback -w95 -cm

LDFLAGS = -traceback -Wl,-rpath,/home/utexas/ph/eschnett/hdf5-1.8.0/lib -Wl,-rpath,/opt/intel/mkl/10.0.3.020/lib/em64t -Wl,-rpath,/opt/apps/intel/10.1/fc/lib

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

DEBUG           = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -O0 -fp-stack-check -ftrapuv
CXX_DEBUG_FLAGS = -O0 -fp-stack-check -ftrapuv
F77_DEBUG_FLAGS = -O0 -fp-stack-check -ftrapuv -check bounds -check format # -check all
F90_DEBUG_FLAGS = -O0 -fp-stack-check -ftrapuv -check bounds -check format # -check all

OPTIMISE           = yes
CPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS   = -O2 -xT -complex-limited-range
CXX_OPTIMISE_FLAGS = -O2 -xT -complex-limited-range
F77_OPTIMISE_FLAGS = -O2 -xT -complex-limited-range
F90_OPTIMISE_FLAGS = -O2 -xT -complex-limited-range

PROFILE           = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F77_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP           = yes
CPP_OPENMP_FLAGS = -openmp
FPP_OPENMP_FLAGS = -D_OPENMP
C_OPENMP_FLAGS   = -openmp
CXX_OPENMP_FLAGS = -openmp
F77_OPENMP_FLAGS = -openmp
F90_OPENMP_FLAGS = -openmp

WARN           = yes
CPP_WARN_FLAGS = -Wall
FPP_WARN_FLAGS = -Wall
C_WARN_FLAGS   = -Wall -Wp64 -wd810 -wd981 -wd1419
CXX_WARN_FLAGS = -Wall -Wp64 -wd810 -wd981 -wd1419
F77_WARN_FLAGS = -warn all
F90_WARN_FLAGS = -warn all



BLAS_DIR  = /opt/intel/mkl/10.0.3.020/lib/em64t
BLAS_LIBS = mkl_lapack pthread mkl_em64t guide m

GSL_DIR = /opt/apps/gsl/1.10

HDF5      = yes
HDF5_DIR = /home/utexas/ph/eschnett/hdf5-1.8.0

LAPACK      = yes
LAPACK_DIR  = /opt/intel/mkl/10.0.3.020/lib/em64t
LAPACK_LIBS = mkl_lapack mkl_core mkl_em64t guide pthread

MPI          = CUSTOM
MPI_INC_DIRS = /opt/apps/intel10/mvapich/1.0.1/include
MPI_LIB_DIRS = /opt/apps/intel10/mvapich/1.0.1/lib /opt/ofed/lib64
MPI_LIBS     = mpich pmpich   ibverbs ibumad

# PETSc requires additional libraries,
# which are present, but need to be found and sorted
#PETSC_DIR       = /opt/apps/petsc-intel9-2.3.3/2.3.3
#PETSC_ARCH      = em64t
#PETSC_ARCH_LIBS = X11

PTHREADS = yes
