F90 = ifort 
F77 = ifort  
CXX = icpc 
CC =  icc  

SYS_INC_DIRS = /home/garrison/hdf5_1.8/include

HDF5_DIR = /home/garrison/hdf5_1.8

BLAS = yes
BLAS_DIR = /home/garrison/ifort64/lib
BLAS_LIBS = acml ifcoremt_pic imf irc svml

LAPACK = yes
LAPACK_DIR = /home/garrison/ifort64/lib
LAPACK_LIBS = acml  ifcoremt_pic imf irc svml

LD_LIBRARY_PATH += /home/garrison/fftw3/lib

# we use openmpi located in /opt/openmpi/intel/1.2.7
MPI = CUSTOM
MPI_DIR=/share/apps/openmpi-1.4.4
MPI_LIBS = mpi mpi_cxx  open-rte open-pal dl nsl util
OPENMPI_INC_DIR = /share/apps/openmpi-1.4.4/include
OPENMPI_LIB_DIR = /share/apps/openmpi-1.4.4/lib 

FFTW      = yes
FFTW_DIR = /home/garrison/fftw3
FFTW3_DIR = /home/garrison/fftw3
FFTW3_LIBS = fftw3_threads fftw3_mpi $(MPI_LIBS) fftw3 m
FFTW_LIBS = fftw3_threads fftw3_mpi $(MPI_LIBS) fftw3 m

OPTIMISE = yes
CFLAGS = -Os -ip -xW -pthread -no-prec-div 
CXXFLAGS =  -Os -ip -xW -pthread -no-prec-div 
C_OPTIMISE_FLAGS   = -Os -ip -xW -pthread -no-prec-div 
CXX_OPTIMISE_FLAGS = -Os -ip -xW -pthread -no-prec-div 
F77_OPTIMISE_FLAGS = -Os -ip -xW -pthread -no-prec-div 
F90_OPTIMISE_FLAGS = -Os -ip -xW -pthread -no-prec-div 

PTHREADS = no 
