F90 = pgf90
F77 = pgf77  
CXX = pgCC
CC =  pgcc

SYS_INC_DIRS = /home/garrison/hdf5_1.8/include

HDF5_DIR = /home/garrison/hdf5_1.8

BLAS = yes
BLAS_DIR = /share/apps/pgi/13.6/linux86-64/2013/acml/5.3.0/lib
BLAS_LIBS = acml 

LAPACK = yes
LAPACK_DIR = /share/apps/pgi/13.6/linux86-64/2013/acml/5.3.0/lib
LAPACK_LIBS = acml  

LD_LIBRARY_PATH += /home/garrison/fftw-pgi/lib

# we use openmpi located in /opt/openmpi/intel/1.2.7
MPI = MPICH
MPI_DIR=/share/apps/pgi/13.6/linux86-64/2013/mpi/mpich
MPI_LIBS = mpich pmpich++ pmpich
MPICH_DIR=/share/apps/pgi/13.6/linux86-64/2013/mpi/mpich

FFTW      = yes
FFTW_DIR = /home/garrison/fftw-pgi
FFTW3_DIR = /home/garrison/fftw-pgi
FFTW3_LIBS = fftw3_threads fftw3_mpi $(MPI_LIBS) fftw3 m
FFTW_LIBS = fftw3_threads fftw3_mpi $(MPI_LIBS) fftw3 m

OPTIMISE = yes
C_OPTIMISE_FLAGS = -O3 -fast -Mipa=fast,inline -Msmartalloc
CXX_OPTIMISE_FLAGS = -O3 -fast -Mipa=fast,inline -Msmartalloc
F77_OPTIMISE_FLAGS = -O3 -fast -Mipa=fast,inline
F90_OPTIMISE_FLAGS = -O3 -fast -Mipa=fast,inline

PTHREADS = no 
