ARFLAGS = ruc
USE_RANLIB = yes
HDF5 = yes
HDF5_DIR = /usr/local 
LAPACK = yes
LAPACK_DIR = /usr/local/lib
LIBZ_DIR = /usr/local/lib
BLAS_DIR = /usr/local/lib
FFTW = yes
FFTW_DIR = /usr/local 
#MPI = LAM   
CC = gcc
CXX = g++
#CFLAGS =
#CXXFLAGS =
F77FLAGS = -N11
F90FLAGS = -N11
OPTIMISE = yes
C_OPTIMISE_FLAGS = -O3 -fast -mcpu=7450 -arch ppc -faltivec
CXX_OPTIMISE_FLAGS = -O3 -fast -mcpu=7450 -arch ppc -faltivec
F77_OPTIMISE_FLAGS = -O
F90_OPTIMISE_FLAGS = -O
LDFLAGS = -framework vecLib
