CPP = cpp
FPP = cpp
CC  = /opt/apps/intel/10.1/cc/bin/icc
CXX = /opt/apps/intel/10.1/cc/bin/icpc
F77 = /opt/apps/intel/10.1/fc/bin/ifort
F90 = /opt/apps/intel/10.1/fc/bin/ifort

# -inline-debug-info leads to compiler crashes when used with optimisation
CPPFLAGS = -DMPICH_IGNORE_CXX_SEEK
FPPFLAGS = -traditional
CFLAGS   = -g -debug all -traceback -align -std=gnu99 -ansi_alias
CXXFLAGS = -g -debug all -traceback -align -restrict
F77FLAGS = -g -debug all -traceback -align -pad -w95 -cm
F90FLAGS = -g -debug all -traceback -align -pad -w95 -cm

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

LDFLAGS = -Wl,-rpath,/share/home/00507/eschnett/hdf5-1.8.2/lib
-Wl,-rpath,/share/home/00507/eschnett/curl-7.19.4/lib
-Wl,-rpath,/opt/apps/intel10_1/acml/4.1.0/ifort64_mp/lib
-Wl,-rpath,/opt/apps/intel10_1/mvapich2/1.2/lib
-Wl,-rpath,/opt/apps/intel/10.1/fc/lib -Wl,-rpath,/opt/apps/gsl/1.11

# Include hypre, SPAI, Chaco, spooles, SuperLU_DIST, MUMPS, ParMetis, SCALAPACK, blacs, g2c, and X11 for PETSc
LIBDIRS = /usr/lib/gcc/x86_64-redhat-linux/3.4.3 /usr/X11R6/lib64 /opt/apps/intel/10.1/fc/lib



# -check-uninit aborts for uninitialised variables, which is too strict
DEBUG           = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -O0 # -check-uninit
CXX_DEBUG_FLAGS = -O0 # -check-uninit
F77_DEBUG_FLAGS = -O0 -check bounds -check format # -check all
F90_DEBUG_FLAGS = -O0 -check bounds -check format # -check all

# -O3 miscompiles parts of CarpetLib
# -ip leads to wrong physics when OpenMP is used
OPTIMISE           = yes
CPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS   = -O2 -xW
CXX_OPTIMISE_FLAGS = -O2 -xW
F77_OPTIMISE_FLAGS = -O2 -xW
F90_OPTIMISE_FLAGS = -O2 -xW

PROFILE           = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F77_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP           = yes
CPP_OPENMP_FLAGS = -openmp
FPP_OPENMP_FLAGS = -D_OPENMP
C_OPENMP_FLAGS   = -openmp
CXX_OPENMP_FLAGS = -openmp
F77_OPENMP_FLAGS = -openmp
F90_OPENMP_FLAGS = -openmp

WARN           = yes
CPP_WARN_FLAGS =
FPP_WARN_FLAGS =
C_WARN_FLAGS   =
CXX_WARN_FLAGS =
F77_WARN_FLAGS =
F90_WARN_FLAGS =



BLAS_DIR  = /opt/apps/intel10_1/acml/4.1.0/ifort64_mp/lib
BLAS_LIBS = acml_mp acml_mv

GSL_DIR = /opt/apps/gsl/1.11

HDF5     = yes
HDF5_DIR = /share/home/00507/eschnett/hdf5-1.8.2

LAPACK      = yes
LAPACK_DIR  = /opt/apps/intel10_1/acml/4.1.0/ifort64_mp/lib
LAPACK_LIBS = acml_mp acml_mv


MPI          = CUSTOM
MPI_INC_DIRS = /opt/apps/intel10_1/mvapich2/1.2/include
MPI_LIB_DIRS = /opt/apps/intel10_1/mvapich2/1.2/lib
MPI_LIBS     = mpich rt
