F90 = mpiifort     
F77 = mpiifort
CXX = mpiicpc
CC =  mpiicc 

HDF5_DIR = /project/dsi/apps/easybuild/software/HDF5/1.12.1-iimpi-2021b

SYS_INC_DIRS = /usr/include                                  

#REAL_PRECISION = 16
#INTEGER_PRECISION = 8

VECTORISE=no 

LAPACK = yes   
LAPACK_DIR = /share/apps/intel-oneapi/mkl/latest/lib/intel64/
LAPACK_LIBS = mkl_cdft_core mkl_scalapack_lp64 mkl_blacs_intelmpi_lp64 mkl_core mkl_sequential mkl_intel_lp64 mkl_lapack95_lp64   

MPI_DIR = /project/dsi/apps/easybuild/software/impi/2021.4.0-intel-compilers-2021.4.0/mpi/2021.4.0
MPI_INC_DIRS = /project/dsi/apps/easybuild/software/impi/2021.4.0-intel-compilers-2021.4.0/mpi/2021.4.0/include
MPI_LIB_DIRS = /project/dsi/apps/easybuild/software/impi/2021.4.0-intel-compilers-2021.4.0/mpi/2021.4.0/lib /project/dsi/apps/easybuild/software/impi/2021.4.0-intel-compilers-2021.4.0/mpi/2021.4.0/lib/release 
MPI_LIBS = mpicxx mpi dl nsl intlc m                       

FFTW = yes
FFTW_DIR = /project/dsi/apps/easybuild/software/FFTW/3.3.10-iimpi-2021b
FFTW_LIB_DIRS = /project/dsi/apps/easybuild/software/FFTW/3.3.10-iimpi-2021b/lib
FFTW_INC_DIRS = /project/dsi/apps/easybuild/software/FFTW/3.3.10-iimpi-2021b/include
FFTW_LIBS = m fftw3_mpi fftw3 $(MPI_LIBS) 

OPTIMISE = no  
CPPFLAGS = -DCCTK_DISABLE_OMP_COLLAPSE -D_XOPEN_SOURCE -D_XOPEN_SOURCE_EXTENDED 
FPPFLAGS = -DCCTK_DISABLE_OMP_COLLAPSE

CXXFLAGS = -g -std=c++11 -xHost #-mkl=cluster 
CFLAGS = -g -std=c99  -xHost #-mkl=cluster
FFLAGS = -g -CB -xHost #-mkl=cluster                  

C_OPTIMISE_FLAGS   = -pthread -Os -ip -no-prec-div 
CXX_OPTIMISE_FLAGS = -pthread -Os -ip -no-prec-div
F77_OPTIMISE_FLAGS = -Os -ip -no-prec-div
F90_OPTIMISE_FLAGS = -Os -ip -no-prec-div

C_DEBUG_FLAGS =   -O0 -g  
CXX_DEBUG_FLAGS = -O0 -g
F77_DEBUG_FLAGS = -O0 -g
F90_DEBUG_FLAGS = -O0 -g

PTHREADS = no  
VERBOSE = yes
DEBUG = no    
warn = no  

