CC = mpiicc
CXX = mpiicpc
F90 = mpiifort
F77 = mpiifort

MPI_DIR = /apps/intel/oneapi/mpi/latest
MPI_INC_DIRS = /apps/intel/oneapi/mpi/latest/include
MPI_LIB_DIRS = /apps/intel/oneapi/mpi/latest/intel64/lib
MPI_LIBS = mpi mpicxx dl nsl util intlc

FFTW = yes
FFTW_DIR = /apps/fftw/3.3.8
FFTW_INC_DIRS = /apps/fftw/3.3.8/include
FFTW_LIB_DIRS = /apps/fftw/3.3.8/lib
FFTW_LIBS = fftw3_mpi $(MPI_LIBS) fftw3

HDF5_DIR = /opt/ohpc/pub/libs/intel/hdf5/1.10.1
HDF5_INC_DIRS = /opt/ohpc/pub/libs/intel/hdf5/1.10.1/include
HDF5_LIB_DIRS = /opt/ohpc/pub/libs/intel/hdf5/1.10.1/lib
HDF5_LIBS = hdf5 hdf5_hl

LAPACK = yes
LAPACK_DIR = /apps/intel/oneapi/mkl/latest/lib/intel64
LAPACK_LIBS = mkl_core mkl_sequential mkl_intel_lp64 mkl_lapack95_lp64

#SYS_INC_DIRS = /apps/fftw/3.3.8/shared/shared/include                                             

OPTIMISE = yes

CPPFLAGS = -DCCTK_DISABLE_OMP_COLLAPSE -D_XOPEN_SOURCE -D_XOPEN_SOURCE_EXTENDED
CFLAGS = -std=c99
CXXFLAGS = -std=c++11

FFLAGS = -O3 -fast -Mipa=fast,inline -tp=x64 -CB
FPPFLAGS = -DCCTK_DISABLE_OMP_COLLAPSE

C_OPTIMISE_FLAGS   = -Os -ip -pthread -no-prec-div
CXX_OPTIMISE_FLAGS = -Os -ip -pthread -no-prec-div
F77_OPTIMISE_FLAGS = -Os -ip -no-prec-div
F90_OPTIMISE_FLAGS = -Os -ip -no-prec-div

PTHREADS = no
VERBOSE = yes

#DEBUG=all

