#Config File for xanadu

F90 = pgf90
F77 = pgf77
CXX = pgCC
CC =  pgcc

SYS_INC_DIRS = /cvos/shared/apps/hdf5/1.6.8/include

HDF5 = yes
HDF5_DIR = /cvos/shared/apps/hdf5/1.6.8

BLAS = yes
BLAS_DIR = /cvos/shared/apps/acml/4.3.0/pgi64/lib
BLAS_LIBS = acml acml_mv

LAPACK = yes
LAPACK_DIR = /cvos/shared/apps/acml/4.3.0/pgi64/lib
LAPACK_LIBS = acml acml_mv

#LIBS = pthread crypt z guide imf irc irc_s ompstub unwind m stdc++ supc++ gcc gcc_eh mpi mpi_cxx mpi_f77 mpi_f90 open-rte open-pal
LIBDIRS += /cvos/shared/apps/pgi/9.0.3/linux86-64/9.0/libso

# we use openmpi located in /opt/openmpi/intel/1.2.7
MPI = OpenMPI
OPENMPI_INC_DIR = /cvos/shared/apps/openmpi/pgi/64/1.3.3/include
OPENMPI_LIB_DIR = /cvos/shared/apps/openmpi/pgi/64/1.3.3/lib

FFTW      = yes
#FFTW_DIR = /cvos/shared/apps/fftw/pgi/64/3.2.2
FFTW_DIR  = /work/g/garrison/fftw3
FFTW_LIBS = fftw3_threads fftw3_mpi $(MPI_LIBS) fftw3 m

OPTIMISE = yes
C_OPTIMISE_FLAGS = -fast -O3 -Mvect=sse,assoc -tp barcelona-64
CXX_OPTIMISE_FLAGS = -fast -O3 -Mvect=sse,assoc -tp barcelona-64
F77_OPTIMISE_FLAGS = -fast -O3 -Mvect=sse,assoc -tp barcelona-64
F90_OPTIMISE_FLAGS = -fast -O3 -Mvect=sse,assoc -tp barcelona-64

PTHREADS = yes

